@import "../../App.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  .bg {
    position: fixed;
    top: 10%;
    left: 14%;
    width: 1366px;
    overflow: hidden;
    height: 50vh;
    border-radius: 16px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    @include mobile {
      width: 90%;
      left: 5vw;
    }
    .links {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      font-size: 36px;
      cursor: pointer;
      font-weight: 400;
    }
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: fixed;
    top: 25px;
    border: none;
    margin-top: 5px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      width: 20px;
      height: 20px;
      top: 35px;
      left: 34px;
    }
    svg {
      @include mobile {
        width: 10px;
        height: 10px;
      }
    }
  }
}
