html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  color: white;
  scroll-snap-align: center;
  z-index: -1;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #090e16;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.Contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin teblet {
  @media (max-width: 1366px) {
    @content;
  }
}
